@import "tailwindcss";


@theme {
  --color-lightHover: #fcf4ff;
  --color-darkHover: #2a004a;
  --color-darkTheme: #11001F;


  /* font-family */
  --font-outfit: Outfit, sans-serif;
  --font-ovo: Ovo, serif;


  /* Easing
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1); */
}
